:root {
  --main-color: #ffffff;
  --bg-color: #f7f7f7;
  --text-color: #333333;
  --accent-color: #c49c18; /* Primary accent color (blue) */
  --secondary-color: #28a745; /* Secondary accent color (green) */
  --hover-color: #c49206; /* Hover color for buttons and links */
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif; /* Modern font choice */
  background-color: var(--bg-color);
  color: var(--text-color);
}

body {
  font-size: 16px;
}

/* General header styles */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-color);
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Top row alignment */
.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensures the row spans the entire width */
  max-width: 1400px; /* Restrict the width for larger screens */
}

/* Logo styling */
.logo img {
  max-height: 70px;
}

/* Notification and cart icons styling */
.notification-icon {
  font-size: 42px; /* Bigger bell icon */
  cursor: pointer;
  margin-right: 20px;
  color: var(--accent-color);
}

.cart-icon {
  font-size: 24px;
  cursor: pointer;
  color: var(--accent-color);
}

.slogan {
  font-size: 3.5em; /* Make it larger */
  font-weight: bold; /* Increase the font weight */
  text-align: center;
  color: #ffcc00;
  letter-spacing: 2px; /* Space out letters */
  font-family: "Brush Script MT", cursive; /* Fancy font */
}

/* Main content */
.main-content {
  display: flex;
  flex-direction: row; /* Ensure horizontal layout */
  padding: 20px;
  gap: 20px;
  min-height: calc(100vh - 100px); /* Minimum height */
  flex-grow: 1; /* Allow to grow if content increases */
}

.left-menu {
  width: 20%;
  background-color: var(--main-color);
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.left-menu ul {
  list-style-type: none;
  padding: 0;
}

.left-menu li {
  margin-bottom: 15px;
}

.left-menu a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 18px;
  padding: 10px 15px;
  display: block;
  background-color: var(--accent-color);
  border-radius: 6px;
  transition: background-color 0.3s, transform 0.3s; /* Added transform transition */
}

.left-menu a:hover {
  background-color: var(--hover-color);
  transform: translateY(-3px); /* Slight upward movement on hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Slight shadow for depth */
}

.dropdown {
  display: none;
  background-color: #f0f0f0;
  border-radius: 6px;
}

.left-menu li:hover .dropdown {
  display: block;
}
.dropdown li {
  color: #333; /* Default text color */
  padding: 0px 10px;
}

.dropdown li:hover {
  background-color: white; /* Background color on hover */
  color: black; /* Text color on hover */
}

.center-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.large-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.featured-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 products in a row */
  gap: 20px; /* Space between products */
  margin-top: 20px; /* Space above the featured products */
}
.featured-products h2 {
  font-size: 30px;
}
.features {
  margin: 30px 0px;
}
.product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  background-color: #fff;
  transition: box-shadow 0.3s;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%; /* Full width of the card */
  height: 200px; /* Set a specific height */
  object-fit: cover; /* Maintain aspect ratio and cover the area */
  border-radius: 4px; /* Optional: rounded corners */
}

/* Right sidebar styles */
.right-sidebar {
  width: 20%;
  background-color: var(--main-color);
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.right-sidebar .search-bar {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.right-sidebar .reviews h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: var(--text-color);
}

.reviews {
  background-color: #f9f9f9; /* Light background */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  margin-bottom: 20px;
}

.reviews-title {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  color: #333; /* Dark text color */
}

.review {
  background-color: #fff; /* White background for each review */
  padding: 15px;
  border: 1px solid #ddd; /* Light border */
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 10px; /* Space between reviews */
  transition: background-color 0.3s; /* Smooth background transition */
}

.review:hover {
  background-color: #f1f1f1; /* Change background on hover */
}

.stars {
  color: #ffcc00; /* Gold color for stars */
  margin-left: 5px; /* Space between text and stars */
}

.stars {
  color: gold;
  font-size: 1.2em;
}

/* Buttons */
.login-button,
.signup-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button {
  background-color: var(--accent-color);
  color: #ffffff;
}

.signup-button {
  background-color: var(--secondary-color);
  color: #ffffff;
}

.login-button:hover,
.signup-button:hover {
  background-color: var(--hover-color);
}

/* Footer styles */
footer {
  background-color: var(--main-color);
  padding: 20px;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ensure full width */
  left: 0; /* Align to left */
  bottom: 0; /* Align to bottom */
}

.footer-links a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: var(--hover-color);
}

.social-login img {
  width: 35px;
  margin: 0 10px;
  transition: transform 0.3s;
}

.social-login img:hover {
  transform: scale(1.1);
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  display: flex; /* Flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px; /* Set a width */
  border-radius: 8px; /* Rounded corners */
  position: relative; /* Relative positioning for the modal */
  top: 50%; /* Start at 50% from the top */
  transform: translateY(-50%); /* Move up by half its height */
}

.modal-content input,
.modal-content button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-content button {
  background-color: var(--accent-color);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-content button:hover {
  background-color: var(--hover-color);
}

.close {
  font-size: 24px;
  color: var(--text-color);
  float: right;
  cursor: pointer;
  transition: color 0.3s;
}

.close:hover {
  color: var(--accent-color);
}
.form-container {
  width: 80%; /* Increase this value for a wider form */
  max-width: 600px; /* Limit maximum width */
  margin: 20px auto; /* Center the form */
  padding: 20px; /* Add padding inside the form */
  border: 1px solid #ccc; /* Optional border */
  border-radius: 10px; /* Rounded corners */
  background-color: #f9f9f9; /* Light background color */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

label {
  display: block; /* Make labels block elements */
  margin-bottom: 5px; /* Space below labels */
  font-weight: bold; /* Bold text */
  color: #555; /* Medium gray for labels */
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Increased padding for comfort */
  margin-bottom: 20px; /* Space below inputs */
  border: 1px solid #ccc; /* Light border */
  border-radius: 5px; /* Rounded corners */
  transition: border-color 0.3s; /* Transition for focus effect */
  resize: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #007bff; /* Change border color on focus */
  outline: none; /* Remove default outline */
}

button {
  background-color: var(--accent-color); /* Green button color */
  color: white; /* Text color */
  padding: 15px; /* Button padding */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
  font-size: 16px; /* Font size */
  transition: background-color 0.3s; /* Smooth transition */
}

button:hover {
  background-color: #218838; /* Darker green on hover */
}

@media (max-width: 600px) {
  .form-container {
    width: 90%; /* Responsive width for smaller screens */
  }
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 products in a row */
  gap: 20px;
  padding: 20px;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  background-color: #fff;
  transition: box-shadow 0.3s;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%; /* Full width of the card */
  height: 200px; /* Set a specific height */
  object-fit: cover; /* Maintain aspect ratio and cover the area */
  border-radius: 4px; /* Optional: rounded corners */
}

.product-card h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

.price {
  font-size: 1.2em;
  color: #007bff;
  margin: 10px 0;
}

.add-to-cart {
  padding: 10px 15px;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart:hover {
  background-color: #0056b3;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.main-content {
  display: flex;
  margin: 20px;
}

.left-sidebar {
  width: 200px;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-sidebar h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.left-sidebar ul {
  list-style: none;
  padding: 0;
}

.left-sidebar ul li {
  margin: 10px 0;
}

.left-sidebar ul li a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s;
}

.left-sidebar ul li a:hover {
  color: #0056b3;
}

.about-us {
  flex: 1;
  padding: 20px;
}

.about-us h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.about-us h2 {
  font-size: 20px;
  margin-top: 20px;
}

.about-us p {
  margin-bottom: 10px;
  line-height: 1.6;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.team-member {
  width: 30%;
  margin-right: 5%;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.team-member h3 {
  margin: 0;
}

.team-member p {
  margin-top: 5px;
}
.contact-us {
  flex: 1;
  padding: 20px;
}

.contact-us h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-us p {
  margin-bottom: 20px;
  line-height: 1.6;
}

.contact-map-container {
  display: flex;
  justify-content: space-between;
}

.contact-form-container {
  flex: 1;
  margin-right: 20px; /* Space between form and map */
}

.map-container {
  flex: 1;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin: 10px 0 5px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.contact-form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}

.map {
  margin-top: 20px;
}
.cart-container {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.cart-table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.cart-table th,
.cart-table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.cart-table img {
  max-width: 100px;
  height: auto;
  border-radius: 8px;
}

.cart-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.total-price {
  font-size: 1.5em;
  color: #d9534f;
}
.cart-link {
  text-decoration: none;
}

.cart-link i {
  color: var(--accent-color); /* Keeps the icon color unchanged */
}

.cart-link:active,
.cart-link:focus,
.cart-link:hover {
  color: var(--hover-color); /* Prevent color change on click or hover */
}
